# Dependências
node_modules/
npm-debug.log*

# Ambiente
.env
.env.local
.env.production
.env.*.local

api-gestaoconsulta/.env
api-gestaoconsulta/.env.local   
api-gestaoconsulta/.env.production  
api-gestaoconsulta/.env.*

frotend-gestaoconsulta/.env
frotend-gestaoconsulta/.env.local
frotend-gestaoconsulta/.env.production
frotend-gestaoconsulta/.env.*
# Docker
*.pid
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/
*.tsbuildinfo
*.env.dev
*.env.local
